# pycharm project files
.idea/
# python cache files
__pycache__/
*.pyc
# virtual environment folder
venv/
.env/
# jupyter notebook checkpoints
.ipynb_checkpoints/

# pdf files
*.pdf
# text files
*.txt


# csv files
*.csv
# pareque files
*.parquet

# checksum files
*.crc

# success files
_SUCCESS